body{
    background-image: url('./meninoney.jpg');
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-position: center;
    /*background-size: cover;*/
    background-attachment: fixed;
}